.home {
  padding: 15vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  padding-bottom: 20px;
  text-align: center;
}

.home button {
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10vh;
  cursor: pointer;
  background-color: rgb(108, 189, 255);
  width: 300px;
  height: 50px;
  font-size: 1.7rem;
  transition: 500ms;
}

.home button:hover {
  background-color: rgba(93, 171, 235, 0);
  color: rgb(108, 189, 255);
  border: 1px solid rgb(108, 189, 255);
  transition: 500ms;
}

.home a {
  text-decoration: none;
  color: white;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  font-size: 1.3rem;
}

.home a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 360px) {
  .home button {
    font-size: 1.5rem;
    width: 250px;
    height: 45px;
  }

  .home h5 {
    font-size: 1.3rem;
    text-align: center;
  }
}
