.form-container {
  position: fixed;
  bottom: 27px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #52565e;
  border-radius: 7px;
  width: 67vw;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holder {
  width: 60vw;
  height: 43px;
  background-color: #52565e;
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
}

.submit {
  cursor: pointer;
  height: 55px;
  width: 55px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.9rem;
  border: none;
}

.submit:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.575);
}

@media only screen and (max-width: 800px) {
  .holder {
    border-radius: 40px;
    font-size: 1rem;
    height: 40px;
    width: 75vw;
  }

  .submit {
    font-size: 1.9rem;
  }
  .form-container {
    bottom: 5px;
  }
}
