.form-container {
  position: absolute;
  bottom: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder {
  width: 60vw;
  height: 45px;
  background-color: #464e5a;
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0 10px;
}

.submit {
  cursor: pointer;
  height: 55px;
  width: 55px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2.5rem;
  border: none;
}

.submit:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.575);
}
