@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Regular.ttf);
}

body {
  background-color: #44474d;
  background-image: url("./images/bg.png");
  background-size: cover;
  color: white;
  margin: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  color: white;
  font-family: OpenSans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
  font-weight: 300;
}
h6 {
  font-size: 1rem;
}
pre,
p {
  font-size: 1rem;
}
